
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
    top: 0;
    margin: 0;
}

body{
    font-family: 'Noto Sans', sans-serif;
}

#app {
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

#header1{
    width: 100%;
    height: 250px;
    background-color: rgb(189, 189, 189);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

#header1>h1{
    color:#000;
}

#header1>h2{
    color: #8b8b8b;
}

#internalheader{
    background-color: rgb(200, 200, 200);
    width: 100%;
    height: auto;
    background-color: rgb(189, 189, 189);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;  

}

.container-row{
    display : flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.card{    
    width: 18vw;
    display : flex;
    flex-direction: column;    
    border-radius: 10px;
    background-color: rgb(216, 216, 216);
    margin: 10px 10px;
}


.card>a>img{
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 18vw;
    height: 500px;
    padding-top: 10px;object-fit: cover;
}

.title,
.overview{
    font-size: medium;
}

.title{
    font-weight: 700;
    margin: 0 10px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

#back{
    height: 40px;
    width: 10%;
    margin: 20px 45%  ;
    background-color: grey;
    color: white;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#imageHeader{
    background-repeat: no-repeat;
    display: block;
    width: 18vw;
    height: auto;
    padding: 30px;
    object-fit: cover;

}

.container-header{
    font-size: 25px;
    max-width: 70%;
}

.container-header>#overview{
    word-wrap: break-word;
}

#searchBar{
    height: 200px;
}